<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
    <h1>{{student.sname}}</h1>
    <h1>{{student.get_name}}</h1>

    {% if num %}
        <h1>{{num}}</h1>
    {% endif %}


    {% comment %}
    注释的内容
    {% endcomment %}
    <h1>{{testlist|join:'#'}}</h1>
    <h1>{{tests|default:'1014'}}</h1>

    <h1>num = {{num}}</h1>
    <h1>num = {{num|add:10}}</h1>
    <h1>num = {{num|add:-10}}</h1>
    <!--num/1*5-->
    <h1>num = {% widthratio num 1 5 %}</h1>
    <h1>num = {% widthratio num 2 1 %}</h1>





</body>
</html>